<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <div class="error-details">
                  <%-message%> 
                </div>
                <div class="error-actions mt-2">
                    <button onclick="logout();" class="btn btn-primary">Take Me Home</button>
                </div>
            </div>
        </div>
    </div>
</div>
