<!DOCTYPE>
<html>
    <head>
        <title>Tutorial</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/web/author/tutorial.css">
    </head>
    <body>
        <div class="container">
            <h2>New Author?</h2>
            <p>Please make sure you read this complete tutorial thoroughly first, so you don't face any issues later while
            writing an article or in general.</p>
            <br>

            <h4>Writing an article.</h4>
            <div class="mb-4">
                <p><b>1.</b> In your dashboard, click on the <b>New Article</b> button.</p>
                <img src="https://i.imgur.com/qT09hc7.jpg" class="img-fluid"  alt="">
            </div>
            <div class="mb-4">
                <p><b>2.</b> You will now be welcomed with the <b>article editor</b>.</p>
                <img src="https://i.imgur.com/2PiAEjY.jpg" class="img-fluid" alt="">
            </div>

            <div class="mb-4">
                <p><b>3.</b> On the top right corner you can see three buttons.<br>
                <b>First button</b> uploads the article as a new article. Use it when you are creating a new article.<br>
                <b>Second button</b> is used to preview the article in a new tab. Click it when you want to view the article's layout.<br>
                <b>Third button</b> saves the article as a new article. Use it when you are creating a new article.<br>
                </p>
                <img src="https://i.imgur.com/dhTHZvB.jpg" class="img-fluid" alt="">
            </div>

        </div>
    </body>
</html>